<!DOCTYPE html>
<html>
  <head>
    <title>TechnologyInheritance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body class="bg-gray-100 text-gray-900">
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-4 px-6 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-blue-600">
          <%= link_to "SkillLink", root_path %>
        </h1>

        <div class="space-x-4 text-sm">
          <% if user_signed_in? %>
            <span><%= current_user.nick_name %> さん</span>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-red-500 hover:underline" %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "text-blue-500 hover:underline" %>
            <%= link_to "新規登録", new_user_registration_path, class: "text-blue-500 hover:underline" %>
          <% end %>
        </div>
      </div>
    </header>

    <main class="mt-8 px-6">
      <%= yield %>
    </main>
  </body>
</html>

